@value baseGradient: linkColor from './vars.module.css';

/* gradients for background */

.gradientPattern {
  background-color: baseGradient;
  background: linear-gradient(
      0deg,
      rgba(baseGradient * 1.5, 0) 20%,
      rgba(baseGradient * 1.5, 0.0980392) 20%,
      rgba(baseGradient * 1.5, 0.0980392) 40%,
      rgba(baseGradient * 1.5, 0.2) 40%,
      rgba(baseGradient * 1.5, 0.2) 60%,
      rgba(baseGradient * 1.5, 0.4) 60%,
      rgba(baseGradient * 1.5, 0.4) 80%,
      rgba(baseGradient * 1.5, 0.6) 80%
    ),
    linear-gradient(
      -90deg,
      rgba(baseGradient * 1.5, 0) 20%,
      rgba(baseGradient * 1.5, 0.0980392) 20%,
      rgba(baseGradient * 1.5, 0.0980392) 40%,
      rgba(baseGradient * 1.5, 0.2) 40%,
      rgba(baseGradient * 1.5, 0.2) 60%,
      rgba(baseGradient * 1.5, 0.4) 60%,
      rgba(baseGradient * 1.5, 0.4) 80%,
      rgba(baseGradient * 1.5, 0.6) 80%
    ),
    rgba(baseGradient, 1);
}

.cubePattern {
  background-color: baseGradient;
  background-image: linear-gradient(
      30deg,
      baseGradient * 1.05 12%,
      transparent 12.5%,
      transparent 87%,
      baseGradient * 1.05 87.5%,
      baseGradient * 1.05
    ),
    linear-gradient(
      150deg,
      baseGradient * 1.05 12%,
      transparent 12.5%,
      transparent 87%,
      baseGradient * 1.05 87.5%,
      baseGradient * 1.05
    ),
    linear-gradient(
      30deg,
      baseGradient * 1.05 12%,
      transparent 12.5%,
      transparent 87%,
      baseGradient * 1.05 87.5%,
      baseGradient * 1.05
    ),
    linear-gradient(
      150deg,
      baseGradient * 1.05 12%,
      transparent 12.5%,
      transparent 87%,
      baseGradient * 1.05 87.5%,
      baseGradient * 1.05
    ),
    linear-gradient(
      60deg,
      baseGradient * 1.1 25%,
      transparent 25.5%,
      transparent 75%,
      baseGradient * 1.1 75%,
      baseGradient * 1.1
    ),
    linear-gradient(
      60deg,
      baseGradient * 1.1 25%,
      transparent 25.5%,
      transparent 75%,
      baseGradient * 1.1 75%,
      baseGradient * 1.1
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.seigaihaPattern {
  background-color: baseGradient;
  background-image: radial-gradient(
      circle at 100% 150%,
      baseGradient * 1.075 24%,
      baseGradient 25%,
      baseGradient 28%,
      baseGradient * 1.075 29%,
      baseGradient * 1.075 36%,
      baseGradient 36%,
      baseGradient 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      baseGradient * 1.075 24%,
      baseGradient 25%,
      baseGradient 28%,
      baseGradient * 1.075 29%,
      baseGradient * 1.075 36%,
      baseGradient 36%,
      baseGradient 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      baseGradient 10%,
      baseGradient * 1.075 11%,
      baseGradient * 1.075 23%,
      baseGradient 24%,
      baseGradient 30%,
      baseGradient * 1.075 31%,
      baseGradient * 1.075 43%,
      baseGradient 44%,
      baseGradient 50%,
      baseGradient * 1.075 51%,
      baseGradient * 1.075 63%,
      baseGradient 64%,
      baseGradient 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      baseGradient 5%,
      baseGradient * 1.075 6%,
      baseGradient * 1.075 15%,
      baseGradient 16%,
      baseGradient 20%,
      baseGradient * 1.075 21%,
      baseGradient * 1.075 30%,
      baseGradient 31%,
      baseGradient 35%,
      baseGradient * 1.075 36%,
      baseGradient * 1.075 45%,
      baseGradient 46%,
      baseGradient 49%,
      transparent 50%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      baseGradient 5%,
      baseGradient * 1.075 6%,
      baseGradient * 1.075 15%,
      baseGradient 16%,
      baseGradient 20%,
      baseGradient * 1.075 21%,
      baseGradient * 1.075 30%,
      baseGradient 31%,
      baseGradient 35%,
      baseGradient * 1.075 36%,
      baseGradient * 1.075 45%,
      baseGradient 46%,
      baseGradient 49%,
      transparent 50%,
      transparent
    );
  background-size: 100px 50px;
}

.cicadaPattern {
  background-color: baseGradient;
  background-image: linear-gradient(
      90deg,
      rgba(baseGradient * 1.3, 0.07) 50%,
      transparent 50%
    ),
    linear-gradient(90deg, rgba(baseGradient * 1.3, 0.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(baseGradient * 1.3, 0.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(baseGradient * 1.3, 0.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}
