@value breakpointMedium, breakpointLarge from '../../../../shared/src/components/layout.css';

@value gutter 35px;
@value gutterLarge 65px;
@value marginTop 0.2em;
@value fontSize 18px;
@value fontFamily "Barlow-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
@value headingFontFamily "Barlow-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.5em;
  overflow-y: hidden;
  border: 3px solid var(--linkColor);
}

.content {
  display: inline;
}

.title {
  background-color: var(--linkColor);
  color: var(--backgroundColor);
  h1 {
    font-family: fontFamily;
    color: var(--backgroundColor);
    margin: 0px;
    text-align: left;
    font-size: 50px;
    padding-bottom: 15px;
  }
}

.name {
  margin-left: gutter;
  margin-right: gutter;
}

.leftColumn,
.rightColumn {
  .section {
    margin-left: gutter;
    margin-right: gutter;
  }
}

.section {
  p {
    margin-top: marginTop;
    line-height: 1.3em;
    font-family: fontFamily;
    font-size: fontSize;
  }

  h2,
  h3,
  h4 {
    font-family: fontFamily;
  }

  h2 {
    margin-bottom: 0px;
    font-size: 28px;
  }

  h3,
  h4 {
    margin: 0px;
  }

  h3 {
    color: black;
    font-size: 20px;
  }

  h4 {
    color: gray;
    font-size: 14px;
  }

  ul {
    padding-left: 0.5em;
    margin-top: marginTop;
    line-height: 1.3em;
    font-family: fontFamily;
    font-size: fontSize;
    list-style: none;
  }

  li {
    padding-left: 1em;
    text-indent: -0.7em;
  }

  li::before {
    content: "• ";
    color: var(--linkColor);
  }

  li.star {
    text-indent: -1em;
  }

  li.star:before {
    content: "⭑ ";
    color: var(--linkColor);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    h3 {
      color: #ccc;
    }
  }
}

.table {
  display: table;
  width: 100%;
  line-height: 1.3em;
  font-family: fontFamily;
  font-size: fontSize;
  border-collapse: collapse;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 3px 10px;
  border: 2px solid var(--linkColor);
}

.employer {
  color: #444;
}

.jobTime {
  padding-right: 1em;
}

@media breakpointMedium, breakpointLarge {
  .leftColumn {
    display: inline;
    float: left;
    width: 40%;
  }
  .rightColumn {
    display: inline;
    float: right;
    width: 60%;
  }
}

@media breakpointLarge {
  .name {
    margin-left: gutterLarge;
    margin-right: gutterLarge;
    h1 {
      font-size: 65px;
    }
  }
  .leftColumn {
    .section {
      margin-left: gutterLarge;
    }
  }
  .rightColumn {
    .section {
      margin-left: gutterLarge;
      margin-right: gutterLarge;
    }
  }
}
