@value backgroundColor, backgroundColorDark, linkColor, headingFontFamily, headingFontWeight, breakpointMedium, breakpointLarge from '../../../../shared/src/vars.module.css';

@value color1 #614A97;
@value color2 #6E57A4;

.backgroundGradient {
  background-image: linear-gradient(
      30deg,
      color1 12%,
      transparent 12.5%,
      transparent 87%,
      color1 87.5%,
      color1
    ),
    linear-gradient(
      150deg,
      color1 12%,
      transparent 12.5%,
      transparent 87%,
      color1 87.5%,
      color1
    ),
    linear-gradient(
      30deg,
      color1 12%,
      transparent 12.5%,
      transparent 87%,
      color1 87.5%,
      color1
    ),
    linear-gradient(
      150deg,
      color1 12%,
      transparent 12.5%,
      transparent 87%,
      color1 87.5%,
      color1
    ),
    linear-gradient(
      60deg,
      color2 25%,
      transparent 25.5%,
      transparent 75%,
      color2 75%,
      color2
    ),
    linear-gradient(
      60deg,
      color2 25%,
      transparent 25.5%,
      transparent 75%,
      color2 75%,
      color2
    );
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.hero {
  composes: backgroundGradient;
  background-color: linkColor;

  h1 {
    margin: 0px;
    margin-top: 15px;
    padding-bottom: 100px;
    font-size: 64px;
    line-height: 54px;
    color: var(--backgroundColor);
  }

  h4 {
    text-align: center;
    padding-bottom: 2em;
    color: #fffc;
  }
}

.lightKicker {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: text-top;
  text-align: right;

  body,
  h1,
  h2,
  h3,
  h4 {
    margin-top: 0px;
  }

  h2 {
    padding-top: 10px;
    margin-bottom: 0.5em;
    margin-left: 15px;
    margin-right: 15px;
  }

  ul {
    margin-left: 15px;
    margin-right: 15px;
    padding: 0px;
    list-style: none;
    li {
      line-height: 1.4em;
    }
  }
}

.darkKicker {
  composes: lightKicker;
  text-align: left;
  padding-right: 0px;
}

.darkKicker .twoThirds {
  background-color: var(--linkColor);
  h1,
  h2,
  h3,
  h4,
  li {
    color: backgroundColor;
  }
}

@media breakpointMedium, breakpointLarge {
  .hero {
    h1 {
      font-size: 90px;
      line-height: 85px;
    }
  }

  .oneThird {
    lost-column: 2/5;
  }

  .twoThirds {
    lost-column: 3/5;
  }
}
