@value linkColor from '../vars.module.css';

.item {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  color: linkColor;
  font-size: 1.1em;
  line-height: 1.88em;
  text-decoration: none;
}

.left {
  composes: item;
  float: left;
  text-align: left;
}

.right {
  composes: item;
  float: right;
  text-align: right;
}
