@value headingFontFamily, linkColor, breakpointMedium, breakpointLarge from '../vars.module.css';

.left {
  align: center;
  text-align: center;
}

.right {
  align: center;
  text-align: center;
}

.title {
  text-align: left;
  color: linkColor;
  font-family: headingFontFamily;
  font-size: 2.3em;
  text-decoration: none;
}

.link {
  color: linkColor;
  font-size: 1.5em;
  line-height: 1.4em;
  text-decoration: none;
  width: 100%;
}

.link-button {
  color: linkColor;
  font-size: 1em;
  line-height: 1.4em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  outline: none;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

@media breakpointMedium, breakpointLarge {
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .left {
    float: left;
    text-align: left;
  }
  .right {
    float: right;
    text-align: right;
  }
  .link {
    margin-left: 30px;
    display: inline;
    text-align: right;
    line-height: 1.88em;
  }
}
