@charset "utf-8";

@import "./prism-base16-summerfruit.css";
@import-normalize;

/* Can't use CSS native vars in @media queries */
@value breakpointSmall: (max-width: 599px);
@value breakpointMedium: (min-width: 600px) and (max-width: 959px);
@value breakpointLarge: (min-width: 960px);

@font-face {
  font-family: "Barlow-Bold";
  src: url(/fonts/Barlow-Bold.eot);
  src: url(/fonts/Barlow-Bold.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Barlow-Bold.woff2) format("woff2"),
    url(/fonts/Barlow-Bold.woff) format("woff"),
    url(/fonts/Barlow-Bold.ttf) format("truetype"),
    url(/fonts/Barlow-Bold.svg#Barlow-Bold) format("svg");
}

@font-face {
  font-family: "Barlow-Regular";
  src: url(/fonts/Barlow-Regular.eot);
  src: url(/fonts/Barlow-Regular.eot?#iefix) format("embedded-opentype"),
    url(/fonts/Barlow-Regular.woff2) format("woff2"),
    url(/fonts/Barlow-Regular.woff) format("woff"),
    url(/fonts/Barlow-Regular.ttf) format("truetype"),
    url(/fonts/Barlow-Regular.svg#Barlow-Regular) format("svg");
}

:root {
  --backgroundColor: #fff;
  --baseTextColor: #555;
  --linkColor: #553d8a;
  --linkColor2: #755fa5;
  --linkColor3: #9e8dc4;
  --linkColor4: #beb3d5;
  --baseGradient: var(--linkColor);

  --codeBackground: #f8f8f8;
  --codeColor: #303030;
  --codeSelectionBackground: #eee;
  --codeComment: #b0b0b0;
  --codePunctuation: #303030;
  --codeOperator: #fd8900;
  --codeToken: #aba800;
  --codeTag: #3777e6;
  --codeString: #1faaaa;
  --codeSelector: #ad00a1;
  --codeAttrName: #fd8900;
  --codeEntity: #1faaaa;
  --codeAttrValue: #00c918;
  --codeStatement: #1faaaa;
  --codePlaceholder: #3777e6;
  --codeUnderline: #151515;
  --codeImportant: #ff0086;
  --codeHighlight: #ff0086;
  --codeBorder: #e0e0e0;
  --codeLineNumber: #d0d0d0;
  --codeLineBackground: rgba(21, 21, 21, 0.2);
  --codeLineBackgroundFull: rgba(21, 21, 21, 0);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #000;
    --baseTextColor: #aaa;
    --linkColor: #553d8a;
    --linkColor2: #755fa5;
    --linkColor3: #9e8dc4;
    --linkColor4: #beb3d5;
    --baseGradient: var(--linkColor);

    --codeBackground: #151515;
    --codeColor: #d0d0d0;
    --codeSelectionBackground: #b0b0b0;
    --codeComment: #505050;
    --codePunctuation: #d0d0d0;
    --codeOperator: #fd8900;
    --codeToken: #aba800;
    --codeTag: #3777e6;
    --codeString: #1faaaa;
    --codeSelector: #ad00a1;
    --codeAttrName: #fd8900;
    --codeEntity: #1faaaa;
    --codeAttrValue: #00c918;
    --codeStatement: #1faaaa;
    --codePlaceholder: #3777e6;
    --codeUnderline: #ffffff;
    --codeImportant: #ff0086;
    --codeHighlight: #ff0086;
    --codeBorder: #202020;
    --codeLineNumber: #303030;
    --codeLineBackground: rgba(255, 255, 255, 0.2);
    --codeLineBackgroundFull: rgba(255, 255, 255, 0);
  }
}

[data-theme="light"] {
  --backgroundColor: #fff;
  --baseTextColor: #555;
  --linkColor: #553d8a;
  --linkColor2: #755fa5;
  --linkColor3: #9e8dc4;
  --linkColor4: #beb3d5;
  --baseGradient: var(--linkColor);

  --codeBackground: #f8f8f8;
  --codeColor: #303030;
  --codeSelectionBackground: #eee;
  --codeComment: #b0b0b0;
  --codePunctuation: #303030;
  --codeOperator: #fd8900;
  --codeToken: #aba800;
  --codeTag: #3777e6;
  --codeString: #1faaaa;
  --codeSelector: #ad00a1;
  --codeAttrName: #fd8900;
  --codeEntity: #1faaaa;
  --codeAttrValue: #00c918;
  --codeStatement: #1faaaa;
  --codePlaceholder: #3777e6;
  --codeUnderline: #151515;
  --codeImportant: #ff0086;
  --codeHighlight: #ff0086;
  --codeBorder: #e0e0e0;
  --codeLineNumber: #d0d0d0;
  --codeLineBackground: rgba(21, 21, 21, 0.2);
  --codeLineBackgroundFull: rgba(21, 21, 21, 0);
}

[data-theme="dark"] {
  --backgroundColor: #000;
  --baseTextColor: #aaa;
  --linkColor: #553d8a;
  --linkColor2: #755fa5;
  --linkColor3: #9e8dc4;
  --linkColor4: #beb3d5;
  --baseGradient: var(--linkColor);

  --codeBackground: #151515;
  --codeColor: #d0d0d0;
  --codeSelectionBackground: #b0b0b0;
  --codeComment: #505050;
  --codePunctuation: #d0d0d0;
  --codeOperator: #fd8900;
  --codeToken: #aba800;
  --codeTag: #3777e6;
  --codeString: #1faaaa;
  --codeSelector: #ad00a1;
  --codeAttrName: #fd8900;
  --codeEntity: #1faaaa;
  --codeAttrValue: #00c918;
  --codeStatement: #1faaaa;
  --codePlaceholder: #3777e6;
  --codeUnderline: #ffffff;
  --codeImportant: #ff0086;
  --codeHighlight: #ff0086;
  --codeBorder: #202020;
  --codeLineNumber: #303030;
  --codeLineBackground: rgba(255, 255, 255, 0.2);
  --codeLineBackgroundFull: rgba(255, 255, 255, 0);
}

:root {
  --baseFontFamily: "Barlow-Regular", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --baseFontSize: 16pt;

  --codeFontFamily: Monaco, Consolas, "Lucida Console", Menlo, monospace;
  --codeFontSize: 12pt;

  --headingFontFamily: "Helvetica Neue", Helvetica, sans-serif;
  --headingFontWeight: bold;
}

body {
  margin-right: 20px;
  margin-left: 20px;
  background-color: var(--backgroundColor);
  color: var(--baseTextColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: var(--baseFontSize) var(--baseFontFamily);
}

#gatsby-noscript {
  display: none;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

p {
  margin-top: 0.2px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--headingFontFamily);
  font-weight: var(--headingFontWeight);
}

h1 {
  font-size: 43px;
  padding-top: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  span {
    background-color: var(--linkColor);
    color: var(--backgroundColor);
  }
  a {
    color: var(--backgroundColor);
  }
}

h2 {
  font-size: 28px;
  color: var(--linkColor);
  span {
    background-color: var(--linkColor2);
  }
}

h3 {
  margin-bottom: 0.2em;
  font-size: 20px;
  color: var(--linkColor2);
}

h4 {
  font-family: var(--codeFontFamily);
  font-size: 14pt;
  font-weight: bold;
  line-height: 1.3em;
  color: var(--linkColor3);
}

ul {
  list-style: square
    url("data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==");
}

ul p {
  margin-bottom: 0px;
}

.content {
  margin: 15px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  width: 100%;
  background-color: var(--linkColor);

  h1 {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 60px;
    line-height: 54px;
    color: var(--backgroundColor);
  }

  h4 {
    text-align: center;
    padding-bottom: 2em;
    color: #fffffc;
  }
}

.gatsby-highlight-code-line {
  background-color: #ddd;
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid #f99;
}

pre {
  overflow-x: scroll;
  border-radius: 5px;
}

@media breakpointMedium, breakpointLarge {
  body {
    font-size: 18pt;
  }
  h1 {
    font-size: 50px;
  }
  h3 {
    font-size: 32px;
  }
}
