/*

Name:       Base16 Summerfruit Light
Author:     Christopher Corley (http://cscorley.github.io/)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 13pt;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: var(--codeBackground);
  color: var(--codeColor);
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--codeSelectionBackground);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--codeSelectionBackground);
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--codeComment);
}

.token.punctuation {
  color: var(--codePunctuation);
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
  color: var(--codeOperator);
}

.token.property {
  color: var(--codeToken);
}

.token.tag {
  color: var(--codeTag);
}

.token.string {
  color: var(--codeString);
}

.token.selector {
  color: var(--codeSelector);
}

.token.attr-name {
  color: var(--codeAttrName);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--codeEntity);
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: var(--codeAttrValue);
}

.token.statement,
.token.regex,
.token.atrule {
  color: var(--codeStatement);
}

.token.placeholder,
.token.variable {
  color: var(--codePlaceholder);
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted var(--codeUnderline);
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: var(--codeImportant);
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid var(--codeHighlight);
  outline-offset: 0.4em;
}

.line-numbers .line-numbers-rows {
  border-right-color: var(--codeBorder) !important;
}

.line-numbers-rows > span:before {
  color: var(--codeLineNumber) !important;
}

.line-highlight {
  background: var(--codeLineBackground) !important;
  background: -webkit-linear-gradient(
    left,
    var(--codeLineBackground) 70%,
    var(--codeLineBackgroundFull)
  ) !important;
  background: linear-gradient(
    to right,
    var(--codeLineBackground) 70%,
    var(--codeLineBackgroundFull)
  ) !important;
}
