/*

Name:       Base16 Summerfruit Dark
Author:     Christopher Corley (http://cscorley.github.io/)

Prism template by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/prism/)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/
code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  background: #151515;
  color: #d0d0d0;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b0b0b0;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b0b0b0;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #505050;
}

.token.punctuation {
  color: #d0d0d0;
}

.token.namespace {
  opacity: 0.7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #fd8900;
}

.token.property {
  color: #aba800;
}

.token.tag {
  color: #3777e6;
}

.token.string {
  color: #1faaaa;
}

.token.selector {
  color: #ad00a1;
}

.token.attr-name {
  color: #fd8900;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #1faaaa;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #00c918;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #1faaaa;
}

.token.placeholder,
.token.variable {
  color: #3777e6;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #ffffff;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #ff0086;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #ff0086;
  outline-offset: 0.4em;
}

.line-numbers .line-numbers-rows {
  border-right-color: #202020 !important;
}

.line-numbers-rows > span:before {
  color: #303030 !important;
}

.line-highlight {
  background: rgba(255, 255, 255, 0.2) !important;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.2) 70%,
    rgba(255, 255, 255, 0)
  ) !important;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2) 70%,
    rgba(255, 255, 255, 0)
  ) !important;
}
