@font-face {
  font-family: 'Barlow-Bold';
  src: url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Bold.eot);
  src: url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Bold.eot?#iefix) format('embedded-opentype'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Bold.woff2) format('woff2'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Bold.woff) format('woff'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Bold.ttf) format('truetype'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Bold.svg#Barlow-Bold) format('svg');
}
