@font-face {
  font-family: 'Barlow-Regular';
  src: url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Regular.eot);
  src: url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Regular.eot?#iefix) format('embedded-opentype'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Regular.woff2) format('woff2'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Regular.woff) format('woff'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Regular.ttf) format('truetype'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Regular.svg#Barlow-Regular) format('svg');
}
