@font-face {
  font-family: 'Barlow-Medium';
  src: url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Medium.eot);
  src: url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Medium.eot?#iefix) format('embedded-opentype'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Medium.woff2) format('woff2'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Medium.woff) format('woff'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Medium.ttf) format('truetype'),
       url(../../code/mnewton.com/monorepo/packages/shared/static/fonts/Barlow-Medium.svg#Barlow-Medium) format('svg');
}
