@value breakpointMedium, breakpointLarge from '../../../shared/src/components/layout.css';

:root {
  --color0: #553d8a;
  --color1: rgba(128, 92, 207, 0);
  --color2: rgba(128, 92, 207, 0.1);
  --color3: rgba(128, 92, 207, 0.2);
  --color4: rgba(128, 92, 207, 0.4);
  --color5: rgba(128, 92, 207, 0.7);
}

.backgroundGradient {
  background: linear-gradient(
      0deg,
      var(--color1) 20%,
      var(--color1) 20%,
      var(--color2) 40%,
      var(--color3) 40%,
      var(--color3) 60%,
      var(--color4) 60%,
      var(--color4) 80%,
      var(--color5) 80%
    ),
    linear-gradient(
      -90deg,
      var(--color1) 20%,
      var(--color2) 20%,
      var(--color2) 40%,
      var(--color3) 40%,
      var(--color3) 60%,
      var(--color4) 60%,
      var(--color4) 80%,
      var(--color5) 80%
    ),
    var(--color0);
}

.hero {
  composes: backgroundGradient;
  width: 100%;
  background-color: var(--linkColor);

  h1 {
    margin: 0px;
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }

  h2,
  h4 {
    text-align: center;
    margin: 0px;
  }

  h1 {
    font-size: 64px;
    line-height: 54px;
    color: var(--backgroundColor);
  }

  h2 {
    color: #0008;
    font-size: 36px;
    line-height: 36px;
  }

  h1,
  h2 {
    font-family: var(--headingFontFamily);
    font-weight: var(--headingFontWeight);
  }

  h4 a {
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 80px;
    color: #a08fc5;
  }
}

@media breakpointMedium, breakpointLarge {
  .hero {
    h1 {
      font-size: 100px;
      line-height: 85px;
    }
    h2 {
      font-size: 57px;
      line-height: 57px;
    }
  }
}
