@value breakpointMedium, breakpointLarge from '../../../shared/src/components/layout.css';

.date {
  color: var(--linkColor3);
}

.excerpt {
  height: 3.6em;
  overflow: hidden;
}

.title {
  margin-top: 0px;
}

@media breakpointMedium, breakpointLarge {
  .date {
    lost-column: 1/4;
    margin-top: 3px;
    text-align: right;
  }
  .description {
    lost-column: 3/4;
  }
}
