@value backgroundColor: #FFF;
@value backgroundColorDark: #000;

@value baseFontFamily "Barlow-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
@value baseFontSize: 16pt;
@value baseTextColor: #555;
@value baseTextColorDark: #AAA;

@value codeFontFamily: Monaco, Consolas, "Lucida Console", Menlo, monospace;
@value codeFontSize: 12pt;

@value headingFontFamily: "Helvetica Neue", Helvetica, sans-serif;
@value headingFontWeight: bold;

@value linkColor: #553D8A;
@value linkColor2: #755FA5;
@value linkColor3: #9E8DC4;
@value linkColor4: #BEB3D5;

@value baseGradient: linkColor;

@value breakpointSmall: (max-width: 599px);
@value breakpointMedium: (min-width: 600px) and (max-width: 959px);
@value breakpointLarge: (min-width: 960px);
