@value breakpointMedium, breakpointLarge from '../../../../shared/src/components/layout.css';

:root {
  --consulting-color0: #553d8a;
  --consulting-color1: #5c4594;
}

.segaiha {
  background-color: var(--consulting-color0);
  background-image: radial-gradient(
      circle at 100% 150%,
      var(--consulting-color1) 24%,
      var(--consulting-color0) 25%,
      var(--consulting-color0) 28%,
      var(--consulting-color1) 29%,
      var(--consulting-color1) 36%,
      var(--consulting-color0) 36%,
      var(--consulting-color0) 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      var(--consulting-color1) 24%,
      var(--consulting-color0) 25%,
      var(--consulting-color0) 28%,
      var(--consulting-color1) 29%,
      var(--consulting-color1) 36%,
      var(--consulting-color0) 36%,
      var(--consulting-color0) 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      var(--consulting-color0) 10%,
      var(--consulting-color1) 11%,
      var(--consulting-color1) 23%,
      var(--consulting-color0) 24%,
      var(--consulting-color0) 30%,
      var(--consulting-color1) 31%,
      var(--consulting-color1) 43%,
      var(--consulting-color0) 44%,
      var(--consulting-color0) 50%,
      var(--consulting-color1) 51%,
      var(--consulting-color1) 63%,
      var(--consulting-color0) 64%,
      var(--consulting-color0) 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      var(--consulting-color0) 5%,
      var(--consulting-color1) 6%,
      var(--consulting-color1) 15%,
      var(--consulting-color0) 16%,
      var(--consulting-color0) 20%,
      var(--consulting-color1) 21%,
      var(--consulting-color1) 30%,
      var(--consulting-color0) 31%,
      var(--consulting-color0) 35%,
      var(--consulting-color1) 36%,
      var(--consulting-color1) 45%,
      var(--consulting-color0) 46%,
      var(--consulting-color0) 49%,
      transparent 50%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      var(--consulting-color0) 5%,
      var(--consulting-color1) 6%,
      var(--consulting-color1) 15%,
      var(--consulting-color0) 16%,
      var(--consulting-color0) 20%,
      var(--consulting-color1) 21%,
      var(--consulting-color1) 30%,
      var(--consulting-color0) 31%,
      var(--consulting-color0) 35%,
      var(--consulting-color1) 36%,
      var(--consulting-color1) 45%,
      var(--consulting-color0) 46%,
      var(--consulting-color0) 49%,
      transparent 50%,
      transparent
    );
  background-size: 100px 50px;
}

.backgroundGradient {
  background-color: var(--consulting-color0);
  background-image: linear-gradient(
      90deg,
      var(--consulting-color1) 50%,
      transparent 50%
    ),
    linear-gradient(90deg, color2 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, color3 50%),
    linear-gradient(90deg, transparent 50%, color4 50%);
  background-size: 13px, 29px, 37px, 53px;
}

.hero {
  composes: segaiha;
  background-color: var(--linkColor);
  padding-left: 30px;
  padding-right: 30px;

  h1 {
    margin: 0px;
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: var(--backgroundColor);
  }

  h2,
  h4 {
    text-align: center;
    margin: 0px;
  }

  h2 {
    color: #0008;
    font-size: 36px;
    line-height: 36px;
  }

  h1,
  h2 {
    font-family: var(--headingFontFamily);
    font-weight: var(--headingFontWeight);
  }

  h4 {
    padding-top: 10px;
    line-height: 1.5em;
    padding-bottom: 3em;
    font-size: 20px;
    color: #fffb;
  }
}

@media breakpointMedium, breakpointLarge {
  .hero {
    h1 {
      font-size: 90px;
      line-height: 85px;
    }
    h2 {
      font-size: 57px;
      line-height: 57px;
    }
  }

  .section {
    margin-top: 1em;
  }

  .section:after {
    content: "";
    display: table;
    clear: both;
  }

  .title {
    float: left;
    width: 30%;
  }

  .description {
    float: right;
    width: 70%;
  }

  h3,
  p {
    margin-top: 0px;
  }
}
